.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e0f7fa;
}

.login-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
}
.login-input:focus {
  border-color: #00897b;
  outline: none;
}

.button-logo {
  width: 100%;
  padding: 0.8rem;
  background-color: #00897b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button-logo :hover {
  background-color: #00695c;
}
